main {
    text-align: center;
    vertical-align: center;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #F5F0E7;
}

.loading-page {
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 15px;
}

.loading-page > div {
    margin: 20px 0;
}

div.page {
    text-align: center;
    vertical-align: center;
    margin: 50px 20px;
}

p {
    font-size: larger;
    color: #333;
    padding: 20px 10px;
}

div.text-content-wrap {
    text-align: left;
}

div.bold-text {
    color: #333;
    font-weight: normal;
    font-size: x-large;
}

div.bold-text.home {
    margin: 20px 0;
}

div.center-img {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

span.italic-bold {
    color: #333;
    font-style: italic;
    font-weight: bold;
}

blue-title {
    font-size: xx-large;
    text-shadow: 0.4px 0 #37A5E4;
    font-weight: bold;
    color: #37A5E4;
}

green-title {
    font-size: xx-large;
    text-shadow: 0.4px 0 #51B667;
    font-weight: bold;
    color: #51B667;
}

button.nav {
    color: white;
    border-radius: 30px;
    padding: 1em 1em;
    font-size: larger;
    font-weight: 600;
    box-shadow: 0.1em 0.1em 0.3em gray;
    height: 3em;
    margin-top: 50px;
}

button.orange-button {
    background-color: #EDA04B;
}

button.green-button {
    background-color: #51B667;
}

button.grey-button {
    background-color: #73706e;
}

.nav-link {
    text-decoration: none;
    color: white;
}


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

