* {
    color: #333;
}

div.receipt {
    background: url("/src/graphics/receipt.png") no-repeat center;
    background-size: contain;
    min-height: 90vh;
    min-width: 80vw;
    display: flex;
    justify-content: center;
}

div.receipt-content-wrapper {
    padding: 80px 10vw;
    max-width: 400px;
}

div.semi-bold-text {
    font-weight: bolder;
}

div.location-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.receipt-head {
    margin-bottom: -20px;
}

div.receipt-bottom {
    margin-top: -10px;
}

.grid-container {
    font-size: 12px;
    display: grid;
    text-align: left;
    grid-template-columns: 0.5fr 1.6fr 0.9fr;
    grid-template-rows: 0.6fr 0.5fr 0.6fr 1fr 1fr 1fr 1fr;
    gap: 5px 10px;
    grid-template-areas:
    "receipt-head receipt-head receipt-head"
    "receipt-header-qty receipt-header-description receipt-header-amount"
    "receipt-bottom receipt-bottom receipt-bottom"
    "tuition-qty tuition-description tuition-amount"
    "fee-qty fee-description fee-amount"
    ". . ."
    ". subtotal-description subtotal-amount";
}

.receipt-head {
    grid-area: receipt-head;
}

.receipt-bottom {
    grid-area: receipt-bottom;
}

.receipt-header-qty {
    grid-area: receipt-header-qty;
    text-align: center;

}

.receipt-header-description {
    grid-area: receipt-header-description;
}

.receipt-header-amount {
    grid-area: receipt-header-amount;
}

.tuition-qty {
    grid-area: tuition-qty;
    text-align: center;

}

.tuition-description {
    grid-area: tuition-description;
}

.tuition-amount {
    grid-area: tuition-amount;
}

.fee-qty {
    grid-area: fee-qty;
    text-align: center;
}

.fee-description {
    grid-area: fee-description;
}

.fee-amount {
    grid-area: fee-amount;
}

.subtotal-description {
    grid-area: subtotal-description;
    text-align: right;
}

.subtotal-amount {
    grid-area: subtotal-amount;
}

div.discount-wrapper {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: medium;
    justify-content: space-between;
}

div.total-wrapper {
    display: flex;
    flex-direction: row;
    font-size: medium;
    justify-content: space-between;
    margin-top: 20px;
}

.note-wrapper {
    margin-top: 15px;
    font-size: small;
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    "note-content1 note-content2";
}

.note-content1 {
    grid-area: note-content1;
}

.note-content2 {
    grid-area: note-content2;
    text-align: left;
}

button.total {
    margin-top: -100px;
}


@media only screen and (max-width: 374px) {
    .note-wrapper {
        font-size: xx-small;
        margin-top: 15px;
    }

    .grid-container {
        grid-template-rows: 0.6fr 0.5fr 0.6fr 0.7fr 0.7fr 0.7fr 0.7fr;
        gap: 1px 1px;
    }

    div.discount-wrapper, div.total-wrapper {
        font-size: small;
        margin-top: 5px;
    }

    div.semi-bold-text {
        font-weight: bold;
        font-size: smaller;
    }

    div.location-text {
        margin-bottom: 1px;
        font-size: smaller;
    }

    div.receipt-content-wrapper {
        padding: 120px 10vw;
        max-width: 100%;
    }

    div.receipt {
        margin-top: -80px;
        margin-bottom: -80px;
    }

}

